*{
    margin: 0;
    padding: 0;
    
}

form{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.6);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    
}


